body
{
    background: rgb(26, 26, 27);

    margin: 0;
}

.top
{
    width: 100%;
    height: 48px;

    background-color: rgba(255, 255, 255, 0.055);
}


.main_img_div
{
	position: absolute;
    left: 50%;
	top: 37%;

    width: 23%;
}

.main_img
{
    width: 90%;
    object-fit: cover;

    margin-left: -45%;
    margin-top: -45%;

    transition: all 0.3s;

    border-style:solid;
    border-radius: 100%;
    border-width: 24px;
    border-color: rgba(30, 101, 207, 0.219);
}   

.main_img:hover
{
    width: 100%;

    margin-left: -50%;
    margin-top: -50%;

    border-color: rgba(30, 101, 207, 0.493);
}


.circle {
    position: absolute;

    left: -40px;
    top: 12px;

    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #00aa00;
}

.W_text
{
    position: absolute;

    width: 0;

    top: 120%;
    left: -6%;
}

.W_id
{
    margin : 0;

    width: 290px;

    font-size: 40px;
    color: rgb(156, 156, 156);
}

.W_bio
{
    margin : 0;

    position: relative;

    width: 1080px;

    top: 12px;
    left: -400px;
    font-size: 40px;
    color: rgb(114, 114, 114);
}

.img_1_a
{
    position: absolute;
    left: 46%;
    top: 94%;

    width: 0;
}

.img_1
{

    height: 64px;
    object-fit: cover;

    transition: all 0.3s;

    border-style:solid;
    border-radius: 100%;
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0.219);
}

.img_1:hover
{

    height: 96px;

    margin-left: -16px;
    margin-top: -16px;

    border-color: rgba(255, 255, 255, 0.493);
}

.img_2_a
{
    position: absolute;
    left: -38%;
    top: -92%;

    width: 0;
}

.img_2
{
    height: 32px;
    object-fit: cover;

    transition: all 0.3s;

    border-style:solid;
    border-radius: 100%;
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0.219);
}

.img_2:hover
{
    height: 42px;

    margin-left: -5px;
    margin-top: -5px;

    border-color: rgba(255, 255, 255, 0.493);
}

.img_3_a
{
    position: absolute;
    left: -56%;
    top: 74%;

    width: 0;
}

.img_3
{
    height: 96px;
    object-fit: cover;

    transition: all 0.3s;

    border-style:solid;
    border-radius: 100%;
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0.219);
}

.img_3:hover
{
    height: 128px;

    margin-left: -16px;
    margin-top: -16px;

    border-color: rgba(255, 255, 255, 0.493);
}

